.about {
    &__title {
        text-align: center;
        font-size: 40px;
        font-weight: 600;
        line-height: 1;
        padding: 30px 0 50px;
        line-height: 1.4;
    }
    &__introduce {
        color: $gray-color;
        font-size: 18px;
        p {
            text-transform: none;
        }
    }
    &__info {
        margin: 20px 0;
        line-height: 1.8;
    }
    &__image {
        border-radius: 0 10px 10px 0px;
        width: 280px;
        object-fit: cover;
    }

    &__technology {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 50px;
        font-size: 18px;
        &-info {
            line-height: 1.8;
            p {
                padding: 10px;
            }
        }
    }
    &__link {
        border-bottom: 1.5px solid $blue-color;
    }
    &__button {
        margin-top: 20px;
    }
    &__education {
        padding-top: 80px;
        &-title {
            font-size: 30px;
            font-weight: 500;
            padding-bottom: 30px;
        }
        &-info {
            display: flex;
            align-items: center;
            justify-content: space-between;
            font-size: 17px;
            color: $gray-color;
        }
        &-line::before {
            content: "- - - - - - - - - - - - - - -";
            opacity: 0.3;
        }
    }
}

@media screen and (max-width: 820px) {
    .about {
        &__title {
            font-size: 28px;
        }
        &__education {
            padding-top: 80px;
            &-title {
                font-size: 28px;
            }
            &-line::before {
                content: "";
                opacity: 0.3;
            }
        }
    }
}

@media screen and (max-width: 678px) {
    .about {
        &__technology {
            flex-direction: column;
            gap: 20px;
        }
        &__image,
        &__technology-info {
            width: 100%;
        }
        &__image {
            border-radius: 10px;
        }
    }
}
