.prose {
    padding-top: 70px;
    &__info {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 50px;
        padding-bottom: 30px;
    }
    &__heading {
        flex: 1;
        font-size: 46px;
        font-weight: 600;
        line-height: 1.5;
        span {
            color: $blue-color;
        }
    }
    &__image {
        width: 230px;
        height: 230px;
        object-fit: cover;
        border-radius: 100rem;
        // border: 3px solid $blue-color;
        // padding: 5px;
    }
    &__button {
        display: flex;
        gap: 20px;
    }
}

// @keyframes spinner {
//     from {
//         transform: rotate(0);
//     }
//     to {
//         transform: rotate(360deg);
//     }
// }
