.projects {
    &__wrapper {
        display: flex;
        align-items: center;
        flex-direction: column;
    }
    &__title {
        margin-bottom: 20px;
    }
    &__item {
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 50px;
        padding-bottom: 90px;
        &:nth-child(even) {
            flex-direction: row-reverse;
        }
        &:last-child {
            padding-bottom: 0px;
        }
    }
    &__info {
        width: 35%;
    }
    &__desc {
        font-size: 18px;
        color: $gray-color;
        padding-bottom: 30px;
        text-transform: none;
        line-height: 1.8;
    }
    &__image {
        width: 65%;
        object-fit: cover;
        border: 1px solid #ccc;
        border-radius: 8px;
    }
    &__link {
        display: flex;
        align-items: center;
        gap: 20px;
        font-size: 17px;
        text-decoration: underline;
    }
    &__button {
        display: flex;
        align-items: center;
        gap: 10px;
    }
}
